<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>YSAR | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--- links css file to the htmls, thats the reason why all the other htmls have extent ase hmtl in them. --->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link href="{{ url_for('static', filename='smile.css') }}" rel="stylesheet">
</head>

<body>
<nav>
    <div class="container">
        <div class="navbar-brand"><img src="static/images/ysar-animated.svg"></div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/menu">Time Table</a>

            {% if session['user_admin_check'] %} <!--- if user logged in and is an admin then it will display these pages, if not then it wont, its getting htis information from app.py --->
                <a href="/adminpage">Inventory</a>
                <a href="/equipment">Equipment</a>
            {% endif %}
             {% if session.logged_in %} <!--- if logged in then show these pages and let you acess then--->
                 <a href="/userprofile">Edit name</a>
                 <a href="/inventory">Booking Equipment</a>
                <a href="/logout">log out</a>
            {% else %}
                <a href="/Login">login</a>
                 <a href="/sign_up">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <header>
        <div style="text-align: center;">
            <div class="navbar-brand"> </div>
         </div>
        <h2>{% block pageheading %}{% endblock %}</h2>

    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>

</html> <!--- in base html all the other html's pull off this one becuase this one is connected to the css and has all the intofrmation about the link sat the top of the page--->