{% extends "base.html" %}

{% block pageheading %}
    ta-daa!
{% endblock %}

{% block main %}
     <form class='myform' method='post'>
        <div class="form-group">
            <div class="form-label"> date:  </div>
            <div class="form-element"> <input type = 'date' name = "date_0" required></div>
        </div>
         <div class="form-group">
            <div class="form-label"> date:  </div>
            <div class="form-element"> <input type = 'checkbox' name = "radio" required></div>
        </div>
         <div class="form-group">
            <div class="form-label"> date:  </div>
            <div class="form-element"> <input type = 'checkbox' name = "radio_batter" required></div>
        </div>
         <div class="form-group">
            <div class="form-label"> date:  </div>
            <div class="form-element"> <input type = 'checkbox' name = "radio_pouch" required></div>
        </div>
         <div class="form-group">
            <div class="form-label"> date:  </div>
            <div class="form-element"> <input type = 'checkbox' name = "GPS" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type = 'submit' value = "signup"></div>
        </div>
        {% endif %}
    </form>
{% endblock %}
