{% extends 'base.html' %}

{% block pageheading %}
contact
{% endblock %}
{% block main %}
    <br>
    <div>

    </div>
    <table>
    <thead>
    <tr>
        {% for head in header %}
        <td>
            {{ head }}
        </td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in equipment0 %}
    <tr>
        <td>
            {{ row[0] }}
        </td>
        <td>
            {{ row[1] }}
        </td>
        <td>
            {{ row[2] }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    <br>
    <br>

    <br><br>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>
    <br>

    {% if incorrect_id == "apple" %}
        {% print 'please use a vaild equipment number' %}
    {% endif %}

     <form class='myform' method='post'>
        <div class="form-group">
            <div class="form-label"> date:  </div>
            <div class="form-element"> <input type = 'date' name = "date_0" required></div>
        </div>
            <label for="equipment">Choose one piece of equipment:</label>

                <select name="equipment" required>
                    {% for equipment in number_awesome %}
                        <option value="{{ equipment[0] }}">{{ equipment[0] }}</option>
                    {% endfor %}
                    {% print %}

                    </select>

        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type = 'submit' value = "signup"></div>
        </div>
    </form>
{% endblock %}

