{% extends 'base.html' %}

{% block pageheading %}
{% endblock %}
{% block main %}
    <br>
    <br>
     <form class='myform' method='post'>
     <br>
        <div class="form-group">
            <br>
            <div class="form-label"> date:  </div>  <!--- creates form so the user can book equipment, the type date makes it so the user will select a date instead of writting a text for example--->
            <br>
            <div class="form-element"> <input type = 'date' name = "date_0" required></div>
            <br>
        </div>
            <label for="equipment">Choose one piece of equipment:</label>

                <select name="equipment" required>
                    {% for equipment in number_awesome %}
                        <option value="{{ equipment[0] }}">{{ equipment[0] }}</option>  <!--- this block creates a drop down box contianing all the piece of equipemnt--->
                    {% endfor %}
                    {% print %}

                    </select>

        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type = 'submit' value = "submit"></div> <!--- hti block create the submti button and posts all the infomration back to the python script--->
        </div>
    </form>
{% endblock %}

