{% extends "base.html" %}

{% block pageheading %}
    ta-daa!
{% endblock %}

{% block main %}
     <form class='myform' method='post'>
        <div class="form-group">
            <div class="form-label"> equipment name:  </div>
            <div class="form-element"> <input type = 'text' name = "equipment_name" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> equipment description: </div>
            <div class="form-element"> <input type = 'text' name = "equipment_description"></div>
        </div>
         <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type = 'submit' value = "signup"></div>
             <div>

    </form>
{% endblock %}