{% extends 'base.html' %}

{% block pageheading %}
{% endblock %}

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>

    </div>
    <table>
    <thead>
    <tr>
        {% for head in header %}
        <td>
            {{ head }}
        </td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in timetable_info0 %}
    <tr>
        <td>
            {{ row[0] }}
        </td>
        <td>
            {{ row[1] }}
        </td>
        <td>
            {{ row[2] }}
        </td>
    </tr>
    {% endfor %}
{% endblock %}
<!--- this html is responsible for displaying a table, the tbale is teh time tabl, we use a for loop to print every name and time fro each piece of equipment  --->