{% extends "base.html" %}
{% block main %}

    <form class='myform' method='post'>
        <div class="form-group">
            <div class="form-label"> new frist name: </div>
            <div class="form-element"> <input type = 'text' name = "user_fname"></div>
        </div>
        <div class="form-group">
            <div class="form-label"> new last name : </div>
            <div class="form-element"> <input type = 'text' name = "user_lname"></div>
        </div>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type = 'submit' value = "submit"></div>
        </div>

    </form><!--- this htmlis fro changing the users name, all is does is make a form that the user will fill out with a new text name and a new last name, then this naem will be sent to app.py --->

{% endblock %}
