{% extends "base.html" %}
{% block main %}

    <form class='myform' method='post'>
        <div class="form-group">
            <div class="form-label"> new frist name: </div>
            <div class="form-element"> <input type = 'email' name = "user_fname"></div>
        </div>
        <div class="form-group">
            <div class="form-label"> new last name : </div>
            <div class="form-element"> <input type = 'password' name = "user_lname"></div>
        </div>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type = 'submit' value = "submit"></div>
        </div>

    </form>

{% endblock %}
